@media screen and (max-width: 992px) {
  .head {
    padding-top: 25px;
  }
  .head-wrapper {
    max-width: 750px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .head-image {
    display: block;
    width: 25%;
    height: 40px;
  }
  .head-search-area {
    width: 75%;
  }
  .head-search-button {
    width: 25%;
  }
  .head-phone-number {
    font-size: 18px;
    width: 25%;
  }
  .head-container-up {
    gap: 30px;
    padding-bottom: 20px;
  }
  .head-categories-block {
    width: 33%;
  }
  .head-categories-text {
    font-size: 16px;
  }
  .head-nav-block {
    width: 67%;
  }
  .head-nav-wrapper {
    width: 70%;
    padding: 0 25px;
    justify-content: space-between;
  }
  .head-nav-item {
    margin: 0;
  }
  span.head-nav-text {
    display: none;
  }
  .head-nav-icon {
    display: block;
    font-size: 24px;
  }
  .head-nav-icon:hover{
      color: white;
      transition: 0.3s all ease;
  }
  .head-icon-title-1:hover ~ .head-title-1,
  .head-icon-title-2:hover ~ .head-title-2,
  .head-icon-title-3:hover ~ .head-title-3,
  .head-icon-title-4:hover ~ .head-title-4,
  .head-icon-title-5:hover ~ .head-title-5{
      display: block;
  }
  .head-trashed-block {
    width: 30%;
  }
  .fa-chevron-down {
    margin-left: 7px;
  }
  /* ----------main ------------------------- */
  .main-container {
    max-width: 750px;
    padding: 0 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 345px 442px 442px 442px 45px auto;
    grid-template-areas:
      "block1 block1 "
      "block2 block2 "
      "block3 block3 "
      "block4 block4 "
      "line line "
      "block5 block6 "
      "block8 block8 ";
  }
  .grid-block7 {
    display: none;
  }
  .grid-block1-info {
    margin-left: 30px;
    width: 34%;
  }
  .grid-block1-header{
      font-size: 25px;
  }
  .grid-block2-wrapper {
    margin-top: 50px;
    margin-left: 10px;
  }
  /* ---------------footer------------------ */
  .footer-wrapper {
    max-width: 750px;
    padding: 0 15px;
  }
}
