* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
.bg-image {
  background-image: url(image/bg-image-1700x803.jpg);
  background-size: 100%;
}
.contact-list {
  width: 100%;
  height: 52px;
  background-color: rgb(64, 64, 68);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts {
  display: flex;
  align-items: center;
}
.contacts-item {
  display: flex;
  align-items: center;
  margin-left: 35px;
  column-gap: 10px;
  font-size: 14px;
}
.contacts-logo {
  color: rgba(170, 178, 185, 0.5);
  font-size: 18px;
}
.fa-phone-alt {
  transform: rotate(90deg);
}

.contacts-text a {
  color: rgba(170, 178, 185, 0.5);
}

.contacts-text:hover a {
  color: #aab2b9;
}
.nav-main {
  width: 100%;
  height: 76px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  position: sticky;
  top: 0;
  background-color: rgb(64, 64, 68);
  z-index: 5;
}
.social-network {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-item {
  font-size: 18px;
  color: rgba(170, 178, 185, 0.5);
  margin-right: 30px;
}
.social-item:hover {
  color: white;
}
.nav-list-item {
  color: white;
  margin-left: 38px;
  font-size: 12px;
  letter-spacing: 2.2px;
  padding-bottom: 8px;
}
.nav-list-item:first-child {
  border-bottom: 2px solid white;
}
.nav-list-item:hover {
  border-bottom: 2px solid white;
}
.nav-list-item:first-child {
  margin-left: 0;
}
/* page 1 */
.page-1 {
  display: flex;
  justify-content: center;
  padding: 100px 0 50px 0;
  color: white;
}
.decoration-image {
  position: absolute;
  z-index: 1;
  top: -90px;
  left: 430px;
}
.main-decoration-box {
  position: relative;
}
.decoration-header {
  font-size: 60px;
  position: relative;
  z-index: 2;
  text-align: center;
}
.decoration-item-1 {
  font-size: 48px;
  font-weight: 300;
  display: inline-block;
  vertical-align: top;
  margin-top: 30px;
  margin-right: -10px;
}
.decoration-item-2 {
  font-size: 2em;
  font-weight: 700;
  line-height: 1em;
  display: inline-block;
  margin-top: 20px;
  margin-right: 150px;
}
.decoration-item-3 {
  display: block;
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: -0.02em;
  text-shadow: 0px 0px 10px rgb(0 0 0 / 35%);
}
.decoration-subtitle {
  position: relative;
  margin-top: 12px;
}
.hr {
  position: absolute;
  top: 55%;
  left: -167px;
  width: 157px;
  height: 3px;
  background-color: white;
  border: none;
  border-top: 1px solid rgba(151, 151, 151, 0.349);
}
.subtitle {
  font-size: 30px;
  padding: 8px 10px 10px 38px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.03em;
}
.main-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
}
.circle-button {
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  font-size: 20px;
}

.circle-button:hover {
  background-color: #ffffff;
  color: #505cfd;
}

/* page 2 */
.page-2 {
  padding: 60px 0;
  position: relative;
}
.page-2-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.page-2-img {
  height: 703px;
  margin-left: 15px;
  box-shadow: 1px 5px 27px 0px rgb(0 0 0 / 9%);
  z-index: 2;
}
.page-2-text {
  padding: 45px 70px 0;
  position: relative;
  max-width: 570px;
  margin-right: 15px;
}
.page-2-name {
  font-weight: 400;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #888888;
}
.page-2-header {
  padding-bottom: 15px;
  font-size: 36px;
  color: #404044;
  font-weight: 500;
}
.page-2-header-color {
  color: #505cfd;
}
.page-2-hr {
  width: 393px;
  right: 280px;
  position: absolute;
  height: 3px;
  border: none;
  background-color: #505cfd;
  z-index: 4;
}
.page-2-first-p {
  margin-top: 40px;
  font-size: 14px;
  color: #888888;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 2.15;
  letter-spacing: 0.02em;
}

.page-2-second-p {
  margin-top: 12px;
  font-family: "Montserrat", serif;
  font-size: 14px;
  line-height: 2.15;
  color: #404044;
  font-weight: 700;
  letter-spacing: 0.02em;
}
.page-2-buttom {
  display: inline-block;
  margin-top: 30px;
  padding: 14px 40px;
  text-transform: uppercase;
  border-radius: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  letter-spacing: 0.23em;
  font-size: 14px;
  color: #ffffff;
  background-color: #505cfd;
}
.page-2-buttom:hover {
  background-color: #2c343b;
}
.page-2-shadow-text {
  position: absolute;
  font-size: 200px;
  bottom: -60px;
  right: 20px;
  font-weight: 700;
  letter-spacing: 15px;
  line-height: 1;
  color: #ffffff;
  text-shadow: 0 3px 27px rgb(0 0 0 / 10%);
}

/* page 3 */

.page-3 {
  padding-top: 60px;
  padding-bottom: 210px;
  position: relative;
}
.page-3-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}
.page-3-text-box {
  width: 700px;
  position: relative;
}
.page-3-hr {
  position: absolute;
  width: 200px;
  height: 3px;
  background-color: #505cfd;
  top: 45px;
  left: -240px;
  border: none;
}
.page-3-image {
  position: absolute;
  top: 0;
  left: 827px;
  z-index: 2;
}
.page-3-shadow-text {
  bottom: -185px;
  left: 25px;
  position: absolute;
  font-size: 200px;
  font-weight: 700;
  letter-spacing: 15px;
  line-height: 1;
  color: #ffffff;
  text-shadow: 0 3px 27px rgb(0 0 0 / 10%);
}
.page-3-name {
  font-weight: 400;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #888888;
}
.page-3-header {
  font-size: 36px;
  color: #404044;
  font-weight: 500;
}
.page-3-first-p {
  margin-top: 15px;
  font-size: 14px;
  color: #888888;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 2.15;
  letter-spacing: 0.02em;
}
.page-3-table {
  width: 100%;
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
}
.page-3-table-items {
  width: 50%;
  padding: 0 10px;
  margin-bottom: 15px;
  display: flex;
}
.table-icon {
  color: rgb(124, 133, 253);
  padding-right: 10px;
  min-width: 55px;
  display: flex;
  justify-content: end;
}
.fa-lightbulb,
.fa-bullseye,
.fa-user {
  font-size: 48px;
}
.fa-hands-helping {
  font-size: 40px;
}
.table-text {
  color: #404044;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 10px;
  font-size: 14px;
}
.p3-tible-text {
  font-size: 14px;
  color: #888888;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 2.15;
  letter-spacing: 0.02em;
  margin-top: 15px;
}

/* statistic block */

.stats-line {
  background-image: url(image/bg-image-2-1700x257.jpg);
  background-size: 100%;
}
.stats-table {
  padding: 80px 0 90px;
}
.stats-block {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
}
.stats-item {
  width: 25%;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}
.stats-number {
  display: flex;
  justify-content: center;
}
.fa-clock,
.fa-folder,
.fa-user-friends,
.fa-users {
  color: #505cfd;
  font-size: 45px;
}
.stats-number-text {
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
  color: white;
  display: inline-block;
  margin-left: 10px;
}

.stats-text {
  margin-top: 15px;
  font-weight: 400;
  letter-spacing: 0.15em;
  font-size: 14px;
  text-transform: uppercase;
  color: #b3bbc1;
  font-family: "Poppins", sans-serif;
}
/* page 4 */

.p4-image {
  background-image: url(image/bg-image-3-1700x883.jpg);
  background-size: cover;
  padding: 80px 0 90px;
}
.p4-container {
  max-width: 1200px;
  margin: 0 auto;
}
.p4-header {
  width: 100%;
  display: flex;
  justify-content: center;
}
.p4-header-text {
  width: 67%;
  text-align: center;
  margin-bottom: 50px;
  padding: 0 15px;
  text-transform: capitalize;
}
.p4-price {
  width: 100%;
  display: flex;
  justify-content: center;
}
.p4-price-container {
  width: 33.33333%;
  margin: 0 15px;
  padding: 60px 55px 70px;
  background-color: rgb(64, 64, 68);
  text-align: center;
}
.p4-price-hr {
  margin-top: 25px;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.color-white {
  color: white;
}
.p4-price-monthly {
  width: 116px;
  margin: 10px auto 0 auto;
  border-radius: 20px;
  padding: 3px 0;
  font-size: 12px;
  letter-spacing: 0.15em;
  font-weight: 400;
  background-color: rgb(72, 72, 76);
  line-height: 2.15;
}
.p4-price-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-top: 20px;
}
.p4-price-box-symbol {
  font-size: 30px;
  margin-right: 5px;
  line-height: 1;
}
.p4-price-box-number {
  font-size: 60px;
  line-height: 1;
}
.border-button {
  line-height: 1.25;
  padding: 17px 35px;
  border: 1px solid white;
}
.border-button:hover {
  border: 1px solid #2c343b;
}
.bgcolor-blue {
  background-color: #505cfd;
}
.bgcolor-lightblue {
  background-color: #626dfd;
}
.page-5 {
  padding: 80px 0 90px;
  background-color: #f8f8f8;
}
.p5-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.p5-container {
  width: 84%;
  padding-right: 15px;
  padding-left: 15px;
}
.p5-text-box {
  width: 100%;
  text-align: center;
}
/* ------------------- */

.slides-box {
  width: 100%;
  position: relative;
  overflow: hidden;
}
#r1,
#r2,
#r3,
#r4 {
  position: absolute;
  visibility: hidden;
}
.slides {
  width: 400%;
  display: flex;
}

.slide {
  width: 25%;
  transition: 0.6s;
}
.slide-box {
  display: flex;
  width: 100%;
  height: 100%;
}
.slide-image {
  width: 216px;
  height: 216px;
  display: block;
  border: 10px solid white;
  border-radius: 50%;
  margin-top: 60px;
  margin-right: 60px;
}
.slide-text {
  margin-top: 50px;
  padding-right: 100px;
}
.slide-text-p {
  margin: 0;
  font-size: 18px;
}
.navbar {
  position: absolute;
  top: 55px;
  right: 0;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
}
.bar {
  width: 10px;
  height: 10px;
  border: 1px solid #404044;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
}
.bar:hover {
  background-color: #505cfd;
  border-color: #505cfd;
}
#r1:checked ~ .s1 {
  margin-left: 0;
}
#r2:checked ~ .s1 {
  margin-left: -25%;
}
#r3:checked ~ .s1 {
  margin-left: -50%;
}
#r4:checked ~ .s1 {
  margin-left: -75%;
}
.slide-text-buttom-box {
  padding-left: 90px;
  margin-top: 35px;
  position: relative;
}
.slide-bottom-p {
  margin: 0;
}
.slide-bottom-head {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #404044;
  font-size: 18px;
  line-height: 2.15;
}
.page-5-hr {
  width: 65px;
  height: 3px;
  position: absolute;
  top: 18px;
  left: 0;
  background-color: #505cfd;
  border: none;
}
